@import url('https://fonts.googleapis.com/css2?family=Outfit:display=swap');

body {
  background-color: #d3dde6;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}
.bold {
  font-weight: 700;
  font-size: 17px;
  color:  hsl(218, 44%, 22%);

}
.container {
  padding: 16px;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  width: 288px;
  height: 495px;
}
.container>img {
  border-radius: 10px;
  width: 100%;
}
.attribution {
  font-size: 11px;
  margin: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width:375px) {
  .container {
    width: 80%;
  }
}
